{% block body %}
    <div class="card text-bg-dark">
        <img src="img/gabriel ghnassia.png" class="card-img" alt="{{ 'image de welcome'|trans }}">
        <div class="card-img-overlay">
            <div class="container">
                <h5 class="card-titleo">{{ 'welcome.title1'|trans }}</h5>
                <h3 class="card-title1">{{ 'welcome.title2'|trans }}</h3>
                <h5 class="card-title2">{{ 'welcome.title3'|trans }}</h5>
            </div>
            <p class="card-text1">{{ 'welcome.description'|trans }}</p>
        </div>
    </div>

{% endblock %}








