{% extends '@EasyAdmin/page/content.html.twig' %}

{# {% block body_id 'easyadmin-dashboard' %} #}
{#

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">

{% endblock %}

#}



{% block main %}





<h1 style="color:rgb(131, 131, 215)">Gestion Vice_City Hotel</h1>
<a style="font-size:25px; 
color:black"  href="{{ path('home') }}">Accueil</a>
{# <a style="font-size:25px" href="{{ path('home') }}">Accueil</a>
<a style="font-size:25px" href="{{ path('home') }}">Accueil</a> #}




{% endblock %}

