{% extends 'base.html.twig' %}

{% block title %}Chambre index{% endblock %}

{% block body %}
    <h1>Chambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tarif</th>
                <th>Superficie</th>
                <th>VueSurMer</th>
                <th>Chaine_à_laCarte</th>
                <th>Climatisation</th>
                <th>Television_à_ecranPlat</th>
                <th>Telephone</th>
                <th>ChainesSatellite</th>
                <th>ChainesDuCable</th>
                <th>CoffreFort</th>
                <th>MaterielDeRepassage</th>
                <th>WifiGratuit</th>
                <th>Etat</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.tarif }}</td>
                <td>{{ chambre.superficie }}</td>
                <td>{{ chambre.vueSurMer }}</td>
                <td>{{ chambre.ChaineàLaCarte }}</td>
                <td>{{ chambre.climatisation }}</td>
                <td>{{ chambre.televisionàEcranPlat }}</td>
                <td>{{ chambre.telephone }}</td>
                <td>{{ chambre.chainesSatellite }}</td>
                <td>{{ chambre.chainesDuCable }}</td>
                <td>{{ chambre.coffreFort }}</td>
                <td>{{ chambre.materielDeRepassage }}</td>
                <td>{{ chambre.wifiGratuit }}</td>
                <td>{{ chambre.etat ? 'Yes' : 'No' }}</td>
                <td>{{ chambre.libelle }}</td>
                <td>
                    <a href="{{ path('app_chambres_show', {'id': chambre.id}) }}">show</a>
                    <a href="{{ path('app_chambres_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chambres_new') }}">Create new</a>
{% endblock %}
